body{
     padding: 100px;
}
.submit{
     margin-top: 50px;
     box-shadow: 5px 5px 10px gray;
     padding: 50px;
     border-radius: 10px;
}
#tran {
     display: none;
     
}
.deposit{
     background-color: slateblue;
     color: white;
}
.withdraw{
     background-color: lightsalmon;
     color: white;
}
.balance{
     background-color: orange;
     color: white;
}
.status{
    padding: 20px 10px;
    margin: 0 20px;
    border-radius: 10px;
}
footer{
      text-align: center;
      margin-top: 100px;
}